<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <nav class="desktop-navigation-menu" th:fragment="nav">

        <div class="container">

            <ul class="desktop-menu-category-list">

                <li class="menu-category">
                    <a href="#" class="menu-title">Home</a>
                </li>

                <li class="menu-category">
                    <a href="#" class="menu-title">Categories</a>
                </li>

                <li class="menu-category">
                    <a href="#" class="menu-title">Men's</a>
                </li>

                <li class="menu-category">
                    <a href="#" class="menu-title">Women's</a>
                </li>

                <li class="menu-category">
                    <a href="#" class="menu-title">Jewelry</a>
                </li>

                <li class="menu-category">
                    <a href="#" class="menu-title">Perfume</a>
                </li>

                <li class="menu-category">
                    <a href="#" class="menu-title">Blog</a>
                </li>

                <li class="menu-category">
                    <a href="#" class="menu-title">Hot Offers</a>
                </li>

            </ul>

        </div>

    </nav>
</body>

</html>